{% extends 'management/base.html' %}
{% load widget_tweaks %}
{% block inner_content %}
    <div class="container">
        <div class="row">
            <div class="alert alert-danger">Этот заказ обрабатывает другой оператори </div>
            <a class="btn btn-primary" href="#" onclick="window.history.back();">Вернуться</a>
        </div>
    </div>
{% endblock %}


{% block app_header %}Заказы{% endblock %}