{% extends 'management/base.html' %}
{% load widget_tweaks %}
{% block inner_content %}
    <h1>Заказ {{ order.id }} ({{ order }})</h1>
    <hr>
    <h2>Корзина</h2>
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
            <table class="table table-bordered table-striped table-condensed table-hover">
                <thead>
                <tr class="bg-success">
                    <th>#</th>
                    <th>Название</th>
                    <th>Картинка</th>
                    <th>Цена</th>
                    <th>Количество</th>
                </tr>
                </thead>
                <tbody>
                {% for item in cart_items %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ item.product.name }}</td>
                        <td><img width="170px" src="/data/{{ item.product.image }}"></td>
                        <td>{{ item.product.price }} руб.</td>
                        <td>{{ item.amount }} шт.</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="3"><strong>Итого (без скидки):</strong></td>
                    <td colspan="2"><strong>{{ order.total }} руб.</strong></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <div class="row">
        <form class="form-horizontal" role="form" action="" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}"
                           class="col-sm-3 control-label">{{ field.label }}</label>
                    <div class="col-sm-6">
                        {% render_field field class="form-control" placeholder=field.help_text id=field.id_for_label %}
                    </div>
                </div>
                {% if field.name == 'total' and discount %}
                    <div class="form-group has-warning">
                        <label for="id_total_discount" class="col-sm-3 control-label">Цена со скидкой</label>
                        <div class="col-sm-6">
                            <input disabled class="form-control" id="id_total_discount" name="total_discount"
                                   placeholder="" step="any" type="text" value="{{ total_discount }} руб.">
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-6">
                    <div class="btn-group">
                        <a class="btn btn-primary" href="{% url 'management:orders:index' %}">
                            Назад к заказм
                        </a>
                        <a target="_blank" href="{% url 'management:orders:print_order' order_id=order.id %}"
                           class="btn btn-warning">Распечатать заказ</a>
                        <button type="submit" class="btn btn-success"
                                {% if order.status == 'canceled' or order.status == 'delivered' %}disabled{% endif %}>
                            Сохранить изменения
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}


{% block app_header %}Заказы{% endblock %}