{% extends 'management/base.html' %}
{% block inner_content %}
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#waiting" data-toggle="tab">Ожидаются</a></li>
                <li><a href="#proccessing" data-toggle="tab">Обрабатываются</a></li>
                <li><a href="#delivering" data-toggle="tab">Доставляются</a></li>
                <li><a href="#delivered" data-toggle="tab">Доствлены</a></li>
                <li><a href="#canceled" data-toggle="tab">Отменены</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="waiting">
                    <ul class="list-group">
                        {% for order in orders.waiting %}
                            <li class="list-group-item list-group-item-warning">
                                <span style="width: 20%; float: left">{{ order }}</span>&nbsp;&nbsp;
                                <div class="btn-group">
                                    {% url 'management:orders:manage_order' order_id=order.id as order_manage_index %}
                                    <a href="{{ order_manage_index }}" class="btn btn-sm btn-info">
                                        Принять заказ
                                    </a>
                                </div>
                                <span class="badge">{{ order.creation_date|date:"H:m d M Y (D)" }}</span>
                                {% if order.operator %}
                                    <span class="badge">Обрабатывает: {{ order.operator }}</span>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="tab-pane" id="proccessing">
                    <ul class="list-group">
                        {% for order in orders.proccessing %}
                            <li class="list-group-item list-group-item-info">
                                <span style="width: 20%; float: left">{{ order }}</span>&nbsp;&nbsp;
                                <div class="btn-group">
                                    {% url 'management:orders:manage_order' order_id=order.id as order_manage_index %}
                                    <a href="{{ order_manage_index }}" class="btn btn-sm btn-info">
                                        Изменить заказ
                                    </a>
                                </div>
                                <span class="badge">{{ order.creation_date|date:"H:m d M Y (D)" }}</span>
                                {% if order.operator %}
                                    <span class="badge">Обрабатывает: {{ order.operator }}</span>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="tab-pane" id="delivering">
                    <ul class="list-group">
                        {% for order in orders.delivering %}
                            <li class="list-group-item list-group-item-info">
                                <span style="width: 20%; float: left">{{ order }}</span>&nbsp;&nbsp;
                                <div class="btn-group">
                                    {% url 'management:orders:manage_order' order_id=order.id as order_manage_index %}
                                    <a href="{{ order_manage_index }}" class="btn btn-sm btn-info">
                                        Изменить заказ
                                    </a>
                                </div>
                                <span class="badge">{{ order.creation_date|date:"H:m d M Y (D)" }}</span>
                                {% if order.operator %}
                                    <span class="badge">Обрабатывает: {{ order.operator }}</span>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="tab-pane" id="delivered">
                    <ul class="list-group">
                        {% for order in orders.delivered %}
                            <li class="list-group-item list-group-item-success">
                                <span style="width: 20%; float: left">{{ order }}</span>&nbsp;&nbsp;
                                <div class="btn-group">
                                    {% url 'management:orders:manage_order' order_id=order.id as order_manage_index %}
                                    <a href="{{ order_manage_index }}" class="btn btn-sm btn-info">
                                        Изменить заказ
                                    </a>
                                </div>
                                <span class="badge">{{ order.creation_date|date:"H:m d M Y (D)" }}</span>
                                {% if order.operator %}
                                    <span class="badge">Обрабатывает: {{ order.operator }}</span>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="tab-pane" id="canceled">
                    <ul class="list-group">
                        {% for order in orders.canceled %}
                            <li class="list-group-item list-group-item-danger">
                                <span style="width: 20%; float: left">{{ order }}</span>&nbsp;&nbsp;
                                <div class="btn-group">
                                    {% url 'management:orders:manage_order' order_id=order.id as order_manage_index %}
                                    <a href="{{ order_manage_index }}" class="btn btn-sm btn-info">
                                        Изменить заказ
                                    </a>
                                </div>
                                <span class="badge">{{ order.creation_date|date:"H:m d M Y (D)" }}</span>
                                {% if order.operator %}
                                    <span class="badge">Обрабатывает: {{ order.operator }}</span>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block app_header %}Заказы{% endblock %}