{% extends 'site/index/base_cart.html' %}
{% load static %}
{% block title %}{{ app_header }}{% endblock %}
{% block cart %}{% endblock %}

{% block inner_content %}
    <div class="row order">
{#        <h2>{{ app_header }}</h2>#}
{#        <hr/>#}
        <link href="{% static 'css/order/style.css' %}" rel="stylesheet" type="text/css" media="all"/>

        <div class="cart-box-header">
        <p>В вашей корзине <span data-bind="text:products_total()"></span>
            товаров на сумму <span data-bind="text:total()"></span> рублей.</p>
        </div>

{#        <div class="header-item-table">#}
{#            <span class="item-amount"><p>Количество </p></span>#}
{#            <span class="item-name"><p>Название </p></span>#}
{#            <span class="item-cost"><p>Цена</p></span>#}
{#        </div>#}
        <table class="table table-bordered table-striped table-responsive table-condensed">
            <thead>
                <th>Количество</th>
                <th>Название</th>
                <th>Цена</th>
            </thead>
            <tbody data-bind="foreach:cart">
                <tr>
                    <td data-bind="text:$data.quantity"></td>
                    <td data-bind="text:$data.product().name"></td>
                    <td>
                        <span data-bind="text:$data.cost"></span>руб.
                    </td>
                </tr>
            </tbody>
        </table>

{#        <div class="cart-box-body" data-bind="foreach:cart">#}
{#            <div class="cart-box-body-item">#}
{#                <span class="cart-box-body-item-amount" data-bind="text:$data.quantity"></span>#}
{#                <span class="cart-box-body-item-name" data-bind="text:$data.product().name"></span>#}
{#                <span class="cart-box-body-item-cost">#}
{#                    <span data-bind="text:$data.cost"></span>руб.#}
{#                </span>#}
{#            </div>#}
{#        </div>#}
        <br>
        <form action="" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group row {% if field.errors %}has-error{% endif %}">
                    <label for="{{ field.id_for_label }}" class="col-sm-3 control-label">{{ field.label }}</label>
                    <div class="col-sm-9">
                        {{ field }}
                        {% if field.errors %}
                            <span class="help-block">
                                {% for error in field.errors %}
                                    {{ error }}<br>
                                {% endfor %}
                            </span>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            <br>
            <input type="submit" value="Отправить заказ" class="btn-group btn btn-primary btn-block"/>
        </form>
    </div>
{% endblock %}


