{% extends 'site/index/base_index.html' %}
{% load static %}
{% block inner_content %}
    <div class="row order">
{#        <h2>{{ app_header }}</h2>#}
{#        <hr/>#}
        <link href="{% static 'css/order/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
        <p class="alert alert-danger" style="font-size: 20px;">Вы не можете сделать заказ, т.к. Ваша корзина пуста :(</p>
    </div>
{% endblock %}


