{% extends 'site/index/base_cart.html' %}
{% load static %}
{% block inner_content %}
    <div class="row order">
{#        <h2>{{ app_header }}</h2>#}
{#        <hr/>#}
        <link href="{% static 'css/order/style.css' %}" rel="stylesheet" type="text/css" media="all"/>

        <p class="alert alert-success" style="font-size: 20px;">Спасибо за заказ! Скоро Вам позвонит оператор!</p>
    </div>
{% endblock %}


