{# Template that has page with cart and products #}
{% extends 'site/index/base_cart.html' %}
{% block inner_content %}
    <div class="row box">
{#        <h2 class="page-header">{{ app_header }}</h2>#}
        {% include 'site/base/products.html' %}
    </div>
{% endblock %}
