{# Template that has page with cart but without products #}
{% extends 'site/index/base_index.html' %}
{% load static %}

{% block cart %}
    <div class="row">
        {% include 'site/cart/cart_box.html' %}
    </div>
{% endblock %}

{% block cart_static %}
    <script src="{% static 'js/app/api/api.js' %}"></script>
    <script src="{% static 'js/app/cart/cart.js' %}"></script>
    <script src="{% static 'js/assets/slimscroll/jquery.slimscroll.min.js' %}"></script>
{% endblock %}

{# Now redefine inner_content block #}


