{# Template that has page with static hypetext only: #}
{# general info, slider, nav_menu, some content different from produtcs. #}
{% extends 'site/base/base.html' %}
{% load static %}
{% block base_static %}
    {{ block.super }}
    <script src="{% static 'js/assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/assets/knockout/knockout-3.2.0.js' %}"></script>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all">
{% endblock %}

{#{% block slider_static %}#}
{#    <link href="{% static 'css/mobilyslider/slider.css' %}" rel="stylesheet" type="text/css"/>#}
{#    <script src="{% static 'js/assets/mobilyslider/mobilyslider.js' %}"></script>#}
{#    <script src="{% static 'js/assets/mobilyslider/init.js' %}"></script>#}
{#{% endblock %}#}

{% block nav_top %}
    {% include 'site/base/nav_top.html' %}
{% endblock %}

{% block general_info %}
    <div class="row">
        {% include 'site/base/general_info.html' %}
    </div>
{% endblock %}

{#{% block slider %}#}
{#    <div class="row hidden-xs hidden-sm">#}
{#        {% include 'site/base/slider.html' %}#}
{#    </div>#}
{#{% endblock %}#}

{% block nav-menu %}
    <div class="row">
        {% include 'site/base/nav_menu.html' %}
    </div>
{% endblock %}

{% block footer %}
    <div class="row box footer">
        {% include 'site/base/footer.html' %}
    </div>
    <div class="fa fa-arrow-up fa-3x" id="uparrow"></div>
{% endblock %}

{# Now redefine inner_content block #}




