{% extends 'site/index/base_cart.html' %}
{% block inner_content %}
    <div class="row box">
        {% block app_header %}
            <h2>{{ app_header }}</h2>
            <hr/>
        {% endblock %}
        <div class="static-hypertext">
            {% block static_hypertext %}
                {% autoescape off %}{{ static_hypertext }}{% endautoescape %}
            {% endblock %}
        </div>
        <div class="after-static-hypertext">
            {% block after_static_hypertext %}
            {% endblock %}
        </div>
    </div>
{% endblock %}