{% extends 'site/index/base_empty.html' %}
{% load static %}
{% block title %}Вход на сайт{% endblock %}


{% block inner_content %}
    <div class="row">
        <div class="col-lg-4 col-md-4"></div>
        <div class="col-lg-4 col-md-4">
            <form class="form-signin" action="" method="post">
                {% csrf_token %}
                <h2 class="form-signin-heading">Авторизация</h2>
                <input autofocus="autofocus" type="text" class="form-control" required="" placeholder="Имя пользователя"
                       name="username">
                <input class="form-control" placeholder="Пароль" name="password" type="password">
{#                <label class="checkbox">#}
{#                    <input value="remember-me" type="checkbox"> Запомнить#}
{#                </label>#}
                <br>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Войти
                </button>
            </form>
        </div>
        <div class="col-lg-4 col-md-4"></div>
    </div>
{% endblock %}