<!doctype html>
<html lang="en" class="no-js">
{% load static %}
{% load startswith %}

{% block head %}
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="theme-color" content="#3e454c">

        <title>
            {% block title %}Панель управления{% endblock %}
        </title>
        {% block css %}
            <!-- Font awesome -->
            <link rel="stylesheet" href="{% static 'css/management/font-awesome.min.css' %}">
            <!-- Sandstone Bootstrap CSS -->
            <link rel="stylesheet" href="{% static 'css/management/bootstrap.min.css' %}">
            <!-- Bootstrap Datatables -->
            <link rel="stylesheet" href="{% static 'css/management/dataTables.bootstrap.min.css' %}">
            <!-- Bootstrap social button library -->
            <link rel="stylesheet" href="{% static 'css/management/bootstrap-social.css' %}">
            <!-- Bootstrap select -->
            <link rel="stylesheet" href="{% static 'css/management/bootstrap-select.css' %}">
            <!-- Bootstrap file input -->
            <link rel="stylesheet" href="{% static 'css/management/fileinput.min.css' %}">
            <!-- Awesome Bootstrap checkbox -->
            <link rel="stylesheet" href="{% static 'css/management/awesome-bootstrap-checkbox.css' %}">
            <!-- Admin Styles -->
            <link rel="stylesheet" href="{% static 'css/management/style.css' %}">
            <!-- Notification Styles -->
            <link rel="stylesheet" href="{% static 'css/management/notifications.css' %}">
        {% endblock %}

        {% block js %}
            <!-- Loading Scripts -->
            <script src="{% static 'js/assets/jquery/jquery-2.1.4.min.js' %}"></script>
            <script src="{% static 'js/app/management/bootstrap-select.min.js' %}"></script>
            <script src="{% static 'js/app/management/bootstrap.min.js' %}"></script>
            <script src="{% static 'js/app/management/jquery.dataTables.min.js' %}"></script>
            <script src="{% static 'js/app/management/dataTables.bootstrap.min.js' %}"></script>
            <script src="{% static 'js/app/management/Chart.min.js' %}"></script>
            <script src="{% static 'js/app/management/fileinput.js' %}"></script>
            <script src="{% static 'js/app/management/chartData.js' %}"></script>
            <script src="{% static 'js/app/management/main.js' %}"></script>
{#            <script src="{% static 'js/app/management/some_script.js' %}"></script>#}
            <script src="{% static 'js/assets/knockout/knockout-3.2.0.js' %}"></script>
            <script src="{% static 'js/app/bindings/bindings.js' %}"></script>
            <script src="{% static 'js/app/management/order.js' %}"></script>
            <script src="{% static 'js/app/management/notifications.js' %}"></script>
            <script src="{% static 'js/assets/jquery-play-sound/jquery.playSound.js' %}"></script>
        {% endblock %}

        <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    </head>
{% endblock %}

<body>
{% block body %}
    {% block nav_top %}
        <div class="brand clearfix">
            <a href="{% url 'management:index' %}" class="logo">
                <img src="{% static 'img/management/logo.jpg' %}"
                     class="img-responsive" alt=""></a>
            <span class="menu-btn"><i class="fa fa-bars"></i></span>
            <ul class="ts-profile-nav">
                <li><a href="/admin">Администрирование</a></li>
                <li><a href="/">На сайт</a></li>
                <li class="ts-account">
                    <a href="#">
                        <img src="{% static 'img/management/ts-avatar.jpg' %}"
                             class="ts-avatar hidden-side" alt="">
                        Аккаунт <i class="fa fa-angle-down hidden-side"></i></a>
                    <ul>
                        <li><a href="#">Личный кабинет</a></li>
                        <li><a href="#">Редактировать</a></li>
                        <li><a href="#">Выход</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    {% endblock %}

    <div class="ts-main-content">
        {% block sidebar %}
            <nav class="ts-sidebar">
                <ul class="ts-sidebar-menu">
                    <li class="ts-label">Поиск</li>
                    <li>
                        <input type="text" class="ts-sidebar-search"
                               placeholder="Поиск...">
                    </li>
                    {% url 'management:index' as management_index %}
                    {% url 'management:callbacks' as management_callbacks %}
                    {% url 'management:orders:index' as management_orders %}
                    {% url 'management:recalls' as management_recalls %}
                    {% url 'management:requests' as management_requests %}
                    <li class="ts-label">Основное</li>
                    <li {% if request.path == management_index %} class="open"{% endif %}>
                        <a href="{% url 'management:index' %}"><i class="fa fa-dashboard"></i> Панель управления</a>
                    </li>
                    <li {% ifstartswith request.path management_orders %}
                        class="open"{% endifstartswith %}>
                        <a href="{{ management_orders }}"><i
                                class="fa fa-table"></i> Заказы</a>
                    </li>
                    <li {% ifstartswith request.path management_callbacks %}
                        class="open"{% endifstartswith %}>
                        <a href="{% url 'management:callbacks' %}"><i
                                class="fa fa-phone"></i> Обратные звонки</a>
                    </li>
                    <li {% ifstartswith request.path management_recalls %}
                        class="open"{% endifstartswith %}>
                        <a href="{% url 'management:recalls' %}"><i
                                class="fa fa-smile-o"></i> Отзывы</a>
                    </li>
                    <li {% ifstartswith request.path management_requests %}
                        class="open"{% endifstartswith %}>
                        <a href="{% url 'management:requests' %}"><i
                                class="fa fa-question"></i> Обращения</a>
                    </li>
                    <ul class="ts-profile-nav">
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Settings</a></li>
                        <li class="ts-account">
                            <a href="#">
                                <img src="{% static 'img/management/ts-avatar.jpg' %}"
                                     class="ts-avatar hidden-side" alt="">
                                Account <i
                                    class="fa fa-angle-down hidden-side"></i></a>
                            <ul>
                                <li><a href="#">Личный кабинет</a></li>
                                <li><a href="#">Редактировать</a></li>
                                <li><a href="#">Выйти</a></li>
                            </ul>
                        </li>
                    </ul>
                </ul>
            </nav>
        {% endblock %}

        <div class="content-wrapper">
            <div class="container-fluid">
                {% block content %}
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="page-title">
                                {% block app_header %}Панель управления
                                    интернет-магазином "Сакура"{% endblock %}
                            </h2>
                            {% block stat_panels %}
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="panel panel-default">
                                                    <div class="panel-body bk-primary text-light">
                                                        <div class="stat-panel text-center">
                                                            <div class="stat-panel-number h1 ">
                                                                {{ orders_number }}
                                                            </div>
                                                            <div class="stat-panel-title text-uppercase">
                                                                Заказы
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a href="{% url 'management:orders:index' %}" class="block-anchor panel-footer text-center">
                                                        Посмотреть &nbsp; <i class="fa fa-arrow-right"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="panel panel-default">
                                                    <div class="panel-body bk-success text-light">
                                                        <div class="stat-panel text-center">
                                                            <div class="stat-panel-number h1 ">
                                                                8
                                                            </div>
                                                            <div class="stat-panel-title text-uppercase">
                                                                Заказы звонков
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a href="#"
                                                       class="block-anchor panel-footer text-center">
                                                        Посмотреть &nbsp; <i class="fa fa-arrow-right"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="panel panel-default">
                                                    <div class="panel-body bk-info text-light">
                                                        <div class="stat-panel text-center">
                                                            <div class="stat-panel-number h1 ">
                                                                58
                                                            </div>
                                                            <div class="stat-panel-title text-uppercase">
                                                                Отзывы
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a href="#"
                                                       class="block-anchor panel-footer text-center">
                                                        Посмотреть &nbsp; <i class="fa fa-arrow-right"></i></a>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="panel panel-default">
                                                    <div class="panel-body bk-warning text-light">
                                                        <div class="stat-panel text-center">
                                                            <div class="stat-panel-number h1 ">
                                                                18
                                                            </div>
                                                            <div class="stat-panel-title text-uppercase">
                                                                Обращения
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a href="#"
                                                       class="block-anchor panel-footer text-center">
                                                        Посмотреть &nbsp; <i
                                                            class="fa fa-arrow-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endblock %}
                            <hr>
                            {% block inner_content %}
                            {% endblock %}
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block order_notofications %}
    <div id="order-notifications" class="order-notifications" web-socket-server-url="{{ web_socket_server_url }}">
    </div>
{% endblock %}
</body>

</html>