{% extends 'site/index/base_cart.html' %}
{% block title %}Свзаться с нами{% endblock %}
{% load static %}
{% block local_static %}
    <link href="{% static 'css/feedback/style.css' %}" rel="stylesheet"
          type="text/css" media="all"/>
{% endblock %}
{% block inner_content %}
    <div class="row feedback">
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                {% for field in form %}
                    <div class="form-group row {% if field.errors %}has-error{% endif %}">
                        <label for="{{ field.id_for_label }}" class="col-sm-12 control-label">{{ field.label }}</label>
                        <div class="col-sm-12">
                            {{ field }}
                            {% if field.errors %}
                                <span class="help-block">
                                {% for error in field.errors %}
                                    {{ error }}<br>
                                {% endfor %}
                            </span>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                </div>
                <input type="submit" value="Отпрвить" class="btn-group btn btn-primary"/>
        </form>
    </div>
{% endblock %}