<!DOCTYPE html lang="ru">
{% block head %}
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        {% block static %}
            {% load static %}
            {% block base_static %}
                <script src="{% static 'js/assets/jquery/jquery-2.1.4.min.js' %}"></script>
                <script src="{% static 'js/assets/bootstrap/js/bootstrap.min.js' %}"></script>
                <script src="{% static 'js/app/scripts/scroll.js' %}"></script>
                <link href="{% static 'css/scroll/scroll.css' %}" rel="stylesheet" type="text/css" media="all"/>
                <link href="{% static 'js/assets/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="all"/>
                <link href="{% static 'js/assets/bootstrap/css/bootstrap-theme.min.css' %}" rel="stylesheet" type="text/css" media="all"/>
                <link href="{% static 'js/assets/bootstrap/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" media="all"/>
                <script src="{% static 'js/assets/bootbox/bootbox.min.js' %}"></script>
                <link href="{% static 'css/assets/bootbox/style.css' %}" rel="stylesheet" type="text/css" media="all">
            {% endblock %}
            {% block slider_static %}{% endblock %}
            {% block cart_static %}{% endblock %}
            {% block modal_static %}{% endblock %}
            {% block local_static %}{% endblock %}
        {% endblock %}
    </head>
{% endblock %}

{% block body %}
    <body>
    {% block nav_top %}{% endblock %}
    <div class="container container-box">
        {% block content %}
            {% block top_content %}
                {% block cart %}{% endblock %}
                {% block general_info %}{% endblock %}
                {% block slider %}{% endblock %}
                {% block nav-menu %}{% endblock %}
            {% endblock %}
            {% block inner_content %}{% endblock %}
        {% endblock %}
        {% block footer %}{% endblock %}
    </div>
    </body>
{% endblock %}
</html>