<div class="row">
    <div class="col-md-4">
        <h4>Информация</h4>
        <p><a href="{% url 'shipping_conditions:index' %}">Условия доставки</a></p>
        <p><a href="{% url 'contacts:index' %}">Контакты</a></p>
        <p><a href="{% url 'feedback:index' %}">Связаться с нами</a></p>
        <p><a href="{% url 'about:index' %}">О нас</a></p>
    </div>

    <div class="col-md-4">
        <h4>Местоположение и контакты</h4>
        <p><i class="fa fa-map-marker"></i>&nbsp;{{ address }}</p>
        <p><i class="fa fa-phone"></i>&nbsp;Телефон: {{ call_number }}</p>
        <p><i class="fa fa-envelope"></i>&nbsp;Email: {{ email }}</p>
        <p><i class="fa fa-globe"></i>&nbsp;Веб-сайт: {{ site_url }}</p>
    </div>

    <div class="col-md-4">
        <h4>Предложения по улучшению</h4>
        <p>Есть предложения по улучшению сайта? Нашли ошибку? Напишите нам!</p>
        <a href="{% url 'feedback:index' %}" class="btn btn-primary">Написать</a>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <p>{{ brand_name }}<br>
            <a href="{% url 'shipping_conditions:index' %}">Правила и условия</a>
        </p>
    </div>
    <div class="col-md-6">
        <span class="pull-right">{{ made_by }}</span>
    </div>
</div>
