<div class="general-info well">
    <div class="col-lg-6 col-md-6 hidden-sm hidden-xs">
        <div class="general-info-title">
            C a k y p a
        </div>
        <p class="general-info-subtitle">Доставка суши</p>
        <br>
        <p class="general-info-links">
            <a href="/">Главная</a> |
            <a href="{% url 'shipping_conditions:index' %}">Условия доставки</a> |
            <a href="{% url 'about:index' %}">О нас</a> |
            <a href="{% url 'shares:index' %}">Акции </a> |
            <a href="{% url 'order:index' %}">Заказ </a>
            {% if user.is_authenticated %}
                <a href="{% url 'management:index' %}">| [Панель управления]</a>
            {% endif %}
            {% if user.is_superuser %}
                <a href="/admin">| [Администрирование]</a>
            {% endif %}
        </p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 list-group-info">
        <ul class="list-group">
            <li class="list-group-item">
                <span class="pull-left"><i class="fa fa-clock-o fa-2x"></i></span>
                <span class="list-group-item-text">Часы работы: {{ work_time }}</span>
            </li>
            <li class="list-group-item">
                <span class="pull-left"><i class="fa fa-phone-square fa-2x"></i></span>
                <span class="list-group-item-text">{{ call_number }}</span>
            </li>
            <li class="list-group-item">
                <span class="pull-left"><i class="fa fa-vk fa-2x"></i></span>
                <span class="list-group-item-text"><a href="{{ vk_url }}"> Мы ВКонтакте</a></span>
            </li>
            <li class="list-group-item">
                <span class="pull-left"><i class="fa fa-shopping-cart fa-2x"></i></span>
                <span class="list-group-item-text"><a href="{% url 'order:index' %}">Корзина</a></span>
            </li>
        </ul>
    </div>
</div>