<div class="navbar navbar-fixed-top navbar-inverse hidden-lg hidden-md hidden-sm"
     role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Сакура</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'menu:all' %}">Всё меню</a>
                </li>
                <li class="divider"></li>
                <li><a href="{% url 'menu:rolls' %}">Роллы</a></li>
                <li><a href="{% url 'menu:sets' %}">Наборы</a></li>
                <li><a href="{% url 'menu:sushi' %}">Суши</a></li>
                <li><a href="{% url 'menu:tempura' %}">Темпура</a></li>
                <li><a href="{% url 'menu:souces' %}">Соусы</a></li>
                <li><a href="{% url 'menu:hot' %}">Горячее</a></li>
                {% if user.is_authenticated %}
                    <li class="divider"></li>
                    <li>
                        <a href="#"><i class="fa fa-user"></i> {{ user }}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>