{% load startswith %}
<div class="col-lg-8 col-md-10 col-sm-12 col-lg-offset-2 col-md-offset-1 hidden-xs menu">
    <style>
        .dropdown:hover .dropdown-menu {
            display: block;
        }
    </style>
    <ul class="nav nav-pills nav-justified">
        {% url 'menu:all' as menu_all %}
        {% url 'menu:rolls' as menu_rolls %}
        {% url 'menu:sushi' as menu_sushi %}
        {% url 'menu:sets' as menu_sets %}
        {% url 'menu:tempura' as menu_tempura %}
        {% url 'menu:souces' as menu_souces %}
        {% url 'menu:hot' as menu_hot %}
        <li {% ifstartswith request.path menu_all %} class="active"{% endifstartswith %}><a href="{{ menu_all }}">Меню</a></li>
        <li {% ifstartswith request.path menu_rolls %} class="active"{% endifstartswith %}><a href="{{ menu_rolls }}">Роллы</a></li>
        <li {% ifstartswith request.path menu_tempura %} class="active"{% endifstartswith %}><a href="{{ menu_tempura }}">Темпура</a></li>
        <li {% ifstartswith request.path menu_sushi %} class="active"{% endifstartswith %}><a href="{{ menu_sushi }}">Суши</a></li>
        <li {% ifstartswith request.path menu_sets %} class="active"{% endifstartswith %}><a href="{{ menu_sets }}">Наборы</a></li>
        <li {% ifstartswith request.path menu_souces %} class="active"{% endifstartswith %}><a href="{{ menu_souces }}">Соусы</a></li>
        <li {% ifstartswith request.path menu_hot %} class="active"{% endifstartswith %}><a href="{{ menu_hot }}">Горячее</a></li>
    </ul>
</div>