{% load static %}
<div id="products" class="row" data-bind="foreach:products" data-bind-category="{{ category }}">
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="product-item">
            <div class="product-item-title">
                <span data-bind="text:$data.name" alt=""></span>
            </div>
            <div class="product-item-img">
                <img data-bind="attr: {'src': $data.image}, event: {click: $parent.showDescription}" alt="">
            </div>
            <div class="product-item-description">
                <p>
                    <span data-bind="text:$data.description().slice(0, 40)"></span>
                    <span data-bind="if: $data.description().length > 40">...</span><br>
                    <span class="product-item-price"><span data-bind="text:$data.price()"></span> руб.</span>
                </p>
            </div>
            <div class="product-item-add">
                <a data-bind="click: $parent.addToCart" class="btn btn-sm btn-success">
                    <i class="fa fa-plus"></i> В корзину
                </a>&nbsp;
            </div>
        </div>
    </div>
</div>
<div ></div>

<div class="modal fade" id="product-description-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="product-description-modal-header"></h4>
      </div>
      <div class="modal-body">
          <img width="85%" id="product-description-modal-img">
          <div id="product-description-modal-description"></div>
          <div id="product-description-modal-price"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>