{% load static %}
<div class="slider">
    <div class="sliderContent">
        <div class="item">
            <img src="{% static 'img/mobilyslider/img1.jpg' %}" alt=""/>
        </div>
        <div class="item">
            <img src="{% static 'img/mobilyslider/img2.jpg' %}" alt=""/>
        </div>
        <div class="item">
            <img src="{% static 'img/mobilyslider/img3.jpg' %}" alt=""/>
        </div>
        <div class="item">
            <img src="{% static 'img/mobilyslider/img4.jpg' %}" alt=""/>
        </div>
        <div class="item">
            <img src="{% static 'img/mobilyslider/img5.jpg' %}" alt=""/>
        </div>
        <div class="item">
            <img src="{% static 'img/mobilyslider/img6.jpg' %}" alt=""/>
        </div>
    </div>
</div>
