{% extends "site/base/base.html"  %}
{% block content %}
    <h1>Регистрация завершена</h1>
    Спасибо за уделённое время. На ваш e-mail отправлен
    код подтверждения. Необходимо подтвердить регистрацию,
    просто кликнув по указанной ссылке.<br/><br/>
{% endblock %}