.feedback {
    padding: 15px 15px 15px 15px;
}
.form-group * {
    margin-top: 10px;
}
.btn-group{
    width: 100%;
    height: 30px;
}
@media only screen and (min-width: 960px) {
    .container {
        width: 70%;
    }
}
@media only screen and (min-width: 768px) {
    .container{
        width: 768px;
    }
}
@media only screen and (max-width: 768px) {
    .container{
        width: 100%;
    }
}
