.order {
    padding: 20px;
}
.cart-box-body-item-amount{
    width: 15%;
}
.cart-box-body-item-cost{
    width: 20%;
}
.cart-box-body-item-name{
    width: 60%;
}
.header-item-table *{
    display: inline-block;
}
.item-amount{
    width: 17%;
}
.item-name{
    width: 59%;
}
.item-cost{
    width: 20%;
}