.slider {
    display: inline-flex;
    width: 95%;
    margin-left: 2.5%;
    margin-top: -60px;
    height: 350px;
    position: relative;
    background: bottom center;
}

.sliderContent {
    float: left;
    width: 800px;
    height: 280px;
    clear: both;
    position: relative;
    overflow: hidden;
}

.sliderArrows a {
    display: block;
    text-indent: -9999px;
    outline: none;
    /*z-index:50;*/
    background-image: url("../../img/gfx/mobilyslider/prev_next.png");
    width: 42px;
    height: 42px;
    position: absolute;
    top: 50%;
    /*margin-top:-34px;*/
}

.prev {
    background-position: 0 0;
    left: 15px;
}

.prev:hover {
    background-position: 0 -44px;
}

.next {
    right: 15px;
    background-position: -44px 0;
}

.next:hover {
    background-position: -44px -44px;
}

.sliderContent .item {
    position: absolute;
    z-index: 1;
    width: 800px;
    height: 350px;
    background: #fff;
}

.sliderBullets {
    position: absolute;
    bottom: 0;
    top: 90%;
    left: 50%;
    z-index: 98;
    margin-left: -45px;
}

.sliderBullets a {
    display: block;
    float: left;
    text-indent: -9999px;
    outline: none;
    margin-left: 5px;
    width: 10px;
    height: 11px;
    background: url("../../img/gfx/mobilyslider/bullets.png") no-repeat;
}

.sliderBullets .active {
    background-position: 0 -11px;
}