@font-face {
    font-family: Andalus;
    src: url(../../fonts/andalus.ttf);
}

.order-notifications {
    position: fixed;
    top: 70px;
    padding: 10px;
    right: 10px;
    width: 520px;
    z-index: 999;
    font-size: 16px;
    font-family: Andalus !important;
}

.order-notifications .alert {
    color: floralwhite !important;
    border: 1px solid #7f8177;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.65);
}

.order-notifications a {
    color: floralwhite !important;
    text-decoration: underline;
}


