@font-face {
    font-family: Andalus;
    src: url(../fonts/andalus.ttf);
}

@font-face {
    font-family: MonotypeCorsiva;
    src: url('../fonts/Monotype-Corsiva.ttf');
}

@font-face {
    font-family: Vivaldi;
    src: url(../fonts/Vivaldi.ttf);
}

@font-face {
    font-family: ABrushNo;
    src: url(../fonts/ABrushNo.ttf);
}

@font-face {
    font-family: BrushScript;
    src: url(../fonts/brush_script.ttf);
}

@font-face {
    font-family: SegoePrint;
    src: url(../fonts/Segoe_Print.ttf);
}

body {
    background: url("../img/background_3.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: MonotypeCorsiva;
}

.container-box {
    margin-top: 60px;
    margin-bottom: 5px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.6);
    background-color: #f5f5f5;
}

.cart-box-icon {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #222222;
    color: lightsteelblue;
    cursor: pointer;
    padding-top: 10px;
    padding-left: 10px;
    z-index: 10;
}

.cart-box-icon > .badge {
    color: black;
    font-family: Arial;
    background-color: mediumseagreen;
    margin-left: 3px;
}

.cart-box {
    position: fixed;
    top: 10px;
    display: none;
    left: 10px;
    width: 350px;
    background-color: #f5f5f5;
    border: 1px solid #999999;
    z-index: 99;
    border-radius: 5px 5px 5px 5px;
    font-size: 16px;
    font-family: "DejaVu Sans Light";
}

.cart-box-header {
    display: block;
    height: 50px;
    padding: 5px 10px 5px 10px;
    font-size: 16px;
    font-family: monospace;
    border-bottom: 1px solid #9d9d9d;
}

.cart-box-body {
    position: relative;
    font-size: 12px;
    font-family: "Century SchoolBook URW";
    overflow: hidden;
}

.cart-box-body-item {
    width: inherit;
    text-align: left;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #dddddd;
    padding-left: 10px;
}

.cart-box-body-item-actions {
    width: 75px;
    display: inline-block;
}

.cart-box-body-item-dec {
    position: relative;
    left: 0;
    background-color: indianred;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
    padding-top: 4px;
    padding-left: 5px;
    cursor: pointer;
}

.cart-box-body-item-amount {
    font-size: 16px;
    width: 16px;
    text-align: center;
    display: inline-block;
    margin-left: 3px;
    margin-right: 3px;
}

.cart-box-body-item-add {
    position: relative;
    background-color: forestgreen;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
    padding-top: 4px;
    padding-left: 6px;
    cursor: pointer;
}

.cart-box-body-item-name {
    width: 130px;
    display: inline-block;
}

.cart-box-body-item-cost {
    width: 65px;
    display: inline-block;
}

.cart-box-body-item-remove {
    background-color: indianred;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
    padding-top: 4px;
    padding-left: 5px;
    cursor: pointer;
}

.cart-box-footer {
    height: 55px;
    border-top: 1px solid #999999;
    padding: 10px 5px 10px 15px;
}

@media (min-width: 768px) {
    .container-box {
        width: 60%;
        margin-top: 10px;
    }
}

@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
    .container-box {
        width: 90%;
    }

    .cart-box-icon {
        top: 60px;
    }

    .cart-box {
        position: relative;
        top: 10px;
        left: 0px;
        margin-left: 2px;
        width: 100%;
        border-radius: 0;
    }

    .cart-box-header {
        display: block;
        height: 50px;
        padding: 5px 10px 5px 10px;
        text-align: center;
        font-size: 16px;
        border-bottom: 1px solid #9d9d9d;
    }

    .cart-box-body {
        font-size: 12px;
    }

    .cart-box-body-item {
        width: inherit;
        height: 40px;
        line-height: 40px;
        padding-left: 10px;
    }

    .cart-box-body-item-actions {
        width: 23%;
    }

    .cart-box-body-item-dec {
        width: 20px;
        height: 20px;
        padding-top: 4px;
        padding-left: 5px;
    }

    .cart-box-body-item-amount {
        font-size: 16px;
        width: 16px;
        margin-left: 3px;
        margin-right: 3px;
    }

    .cart-box-body-item-add {;
        width: 20px;
        height: 20px;
        display: inline-block;
        padding-top: 4px;
        padding-left: 6px;
    }

    .cart-box-body-item-name {
        width: 40%;
    }

    .cart-box-body-item-cost {
        width: 20%;
    }

    .cart-box-body-item-remove {
        width: 20px;
        height: 20px;
        display: inline-block;
        padding-top: 4px;
        padding-left: 5px;
    }

    .footer .row .col-md-4 {
        border-bottom: 1px solid #bbbbbb;
        padding-bottom: 10px;
    }

    .footer .row .col-md-6 {
        border-top: none;
        padding-top: 10px;
    }

    .footer .row .col-md-6:last-child {
        border-top: none;
    }
}

.menu {
    padding-bottom: 50px;
    height: 50px;
}

.menu ul li ul li {
    width: 100%;
}

.menu .active a {
    background-color: #337ab7 !important;
    border-radius: 7px 7px 7px 7px;
    color: white !important;
}

.item {
    margin: 5px 5px 5px 5px;
}

.general-info {
    margin: 15px 10px 15px 10px;
    height: 220px;
}

.list-group-info li {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    /*border-bottom: 2px dashed #3c3c3c;*/
    /*border-width: 50px;*/
}

.list-group-info li:last-child {
    border: none;
}

.list-group-info ul {
    box-shadow: none;
}

.general-info-title {
    margin-left: -15px;
    text-align: center;
    font-family: ABrushNo;
    font-style: italic;
    font-size: 68px;
}

#products {
    margin: 0;
    padding: 10px;
}

.product-item {
    text-align: center;
    padding: 10px 5px 10px 5px;
    height: 300px;
    background-color: #fff3f3;
    margin-right: -5px;
    margin-left: -5px;
    margin-top: 10px;
    border-radius: 20px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.product-item-title {
    font-size: 20px;
    font-family: SegoePrint;
    padding: 5px;
}

.product-item-img img {
    cursor: pointer;
    width: 140px;
    height: 110px;
    border-radius: 15px;
    border: 1px solid #888888;
}

.product-item-description {
    cursor: pointer;
    height: 80px;
    padding-top: 10px;
    font-size: 12px;
    font-family: "museo-sans", "Book Antiqua", sans-serif;
}

.product-item-price {
    font-size: 16px;
    font-family: BrushScript;
}

.product-item-actions {
    padding: 5px;
    font-size: 12px;
    font-family: "Bookman URW";
}

.product-item-add {
    width: 100%;
}

.general-info-links a {
    color: #0f0f0f;
}

.general-info-links {
    text-align: center;
    font-style: italic;
    font-family: monospace;
    font-size: 12px;
}

.general-info-subtitle {
    margin-left: -15px;
    font-style: italic;
    font-family: monospace;
    font-size: 14px;
    text-align: center;
}

.list-group-item-text {
    padding-left: 15px;
}

.slider {
    padding: 60px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    color: inherit;
    background-color: #eee;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.footer {
    margin-top: 20px;
    padding: 15px;
    border-top: 1px solid #999999;
    background-color: #dddddd;
}

.footer .row .col-md-6 {
    border-top: 1px solid white;
    padding-top: 10px;
}

.page-header {
    margin-left: 15px;
}

.header-item-table {
    font-weight: 700;
}

.static-hypertext {
    margin: 15px 30px 15px 20px;
    text-align: justify;
}

.after-static-hypertext {
    margin: 15px;
    text-align: center;
}

#product-description-modal .modal-body {
    height: 80% !important;
}

#product-description-modal .modal-header {
    height: 10% !important;
}

#product-description-modal .modal-footer {
    height: 10% !important;
}

#product-description-modal-description {
    font-family: MonotypeCorsiva;
    font-size: 14px;
}

#product-description-modal-price {
    font-family: BrushScript;
    font-size: 16px;
}