{% extends 'site/index/base_cart.html' %}
{% block title %}{{ app_header }}{% endblock %}
{% block inner_content %}
    <div class="row box">
        {#        <h2>{{ app_header }}</h2>#}
        {#        <hr/>#}

        {% for share in shares %}
            {% if share.is_enable %}
                <div class="col-md-11 col-md-offset-1">
                    <h3>{{ share.title }}</h3><br>
                </div>
                <div class="col-md-11 col-md-offset-1">
                    <img src="{{ share.image.url }}" alt="" width="70%"><br><br>
                </div>
                <div class="col-md-11 col-md-offset-1">
                    {% autoescape off %}{{ share.text }}{% endautoescape %}<br>
                </div>
                <br><br>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}