<div id="btn_cart_box_open" class="cart-box-icon" data-bind="click:openCart">
    <i class="fa fa-shopping-cart fa-2x"></i><span class="badge"
                                                   data-bind="text:products_total()"></span>
</div>
<div class="cart-box">
    <div class="cart-box-header">
        <p>В вашей корзине <span data-bind="text:products_total()"></span>
            товаров на сумму <span data-bind="text:total()"></span> рублей.</p>
    </div>
    <div class="cart-box-body scrollbar-dynamic" data-bind="foreach:cart">
        <div class="cart-box-body-item">
            <span class="cart-box-body-item-actions">
                <span class="cart-box-body-item-dec"
                      data-bind="click:$parent.decItemFromCart">
                    <i class="fa fa-minus"></i>
                </span>
                <span class="cart-box-body-item-amount"
                      data-bind="text:$data.quantity">
                </span>
                <span class="cart-box-body-item-add"
                      data-bind="click:$parent.addItemToCart">
                    <i class="fa fa-plus"></i>
                </span>
            </span>
            <span class="cart-box-body-item-name"
                  data-bind="text:$data.product().name"></span>
            <span class="cart-box-body-item-cost">
                <span data-bind="text:$data.cost"></span>руб.
            </span>
            <span class="cart-box-body-item-remove">
                <i class="fa fa-remove"
                   data-bind="click:$parent.removeFromCart"></i>
            </span>
        </div>
    </div>
    <div class="cart-box-footer">
        <a id="btn_cart_box_close" class="btn btn-sm btn-danger"
           data-bind="click:closeCart"> Закрыть</a>&nbsp;&nbsp;
        <a id="btn_cart_box_order" class="btn btn-sm btn-success"
           data-bind="click:placeOrder"> Оформить</a>
    </div>
</div>
