{% load static %}
<style>
    .item {
        margin-bottom: 20px;
    }
</style>
<div class="container">
    <h2>Товары</h2>
    <hr/>
    <div class="row" data-bind="foreach:products">
        <div class="col-md-3">
            <div class="item">
                <div class="img">
                    <img width="160px" height="100px" data-bind="attr: {'src': $data.image} " alt="">
                </div>
                <div class="description">
                    <p>
                        <span data-bind="text:$data.name"></span><br>
                        <span data-bind="text:$data.price()"></span> руб.
                    </p>
                </div>
                <div class="actions">
                    <a data-bind="click: $parent.addToCart" href="#"
                       class="btn btn-success">
                        <i class="fa fa-plus"></i> Добавить
                    </a>
                </div>
            </div>
        </div>
    </div>


    <h2>Корзина</h2>
    <hr/>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th style="width:30px">Кол-во</th>
                    <th>Товар</th>
                    <th>Цена за 1 шт.</th>
                    <th>Общая цена</th>
                    <th style="width:75px"></th>
                </tr>
                </thead>
                <tbody data-bind="foreach:cart">
                <tr>
                    <td>
                        <input class="input-sm" style="width:28px" data-bind="value:$data.quantity, event: {change: quantityChanged}"/>
                    </td>
                    <td>
                        <span data-bind="text:$data.product().name"></span>
                    </td>
                    <td style="text-align:right">
                        <span data-bind="text:$data.product().price"> </span>руб.
                    </td>
                    <td style="text-align:right">
                        <span data-bind="text:$data.cost()"> </span>руб.
                    </td>
                    <td style="text-align:center">
                        <a href="#" class="btn btn-danger"
                           data-bind="click:$parent.removeFromCart">
                            <i class="fa fa-remove"></i> Удалить
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td><strong>Общая сумма</strong></td>
                    <td style="text-align:right">
                        <span data-bind="text:total()"></span>руб.
                    </td>
                </tr>
                <tr>
                    <td><strong>Доставка</strong></td>
                    <td style="text-align:right">
                        <span data-bind="text:deliverCost()"></span>руб.
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="{% static 'js/app/cart/cart.js' %}"></script>